@import "./../../../../assets/styles/colors";

.profile-card {
  text-align: center;
  padding: 15px 10px 0;

  .header {
    .mat-icon {
      height: 70px;
      width: 70px;
    }
  }
}
mat-nav-list {
  margin-top: 40px;

  .mat-subheader,
  mat-list-item {
    border-top: 1px solid $color-grey-light;
  }

  mat-list-item {
    border-bottom: 1px solid $color-grey-light;
  }

  h2 {
    color: $color-hoki;
    margin: 6px 0 0 9px;
  }

  .mat-list-base .mat-subheader {
    background-color: $color-black-russian;
  }

  .active {
    background-color: $color-black-russian-light;
  }

  .nav-pages {
    padding-bottom: 10%;
    height: auto;
    min-height: 150px;
  }
}
