$color-white: #ffffff;
$color-dark-grayish-navy: #292d39;
$color-black-russian: #181c28;
$color-black-russian-light: #0000002b;
$color-dark-grayish-navy: #292d39;
$color-grey: #888888;
$color-hoki: #607d8b;
$color-suva-grey: #8c8c8c;
$color-vivid-red: #ff2e03;
$color-vivid-violet: #7b1fa2;
$color-whisper: #eeeeee;
